@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;500;700;900&display=swap');

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    padding: 12px 16px;
    border-radius: 4px;
}

.btn-blue {
    background-color: rgb(125, 125, 246);
    color: rgb(230, 230, 230);
}